---
import { getS3 } from "../utils";
const name = Astro.params.name;
let profile: ProfileType;
try {
  const respText = await getS3(`${name}.json`);
  profile = JSON.parse(respText);
} catch {
  profile = {
    name: "404 - Page not found",
    img: "",
    description: "This page is still unused",
    links: [
      {
        label: "Make it yours!",
        url: "/edit/" + name,
      },
    ],
  };
  //return new Response("not found", { status: 404 });
}
const nameExp = new RegExp("^team(/.+)?$");
const nameParts = name.split("/");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{profile.name}</title>
  </head>
  <body>
    <div class="absolute top-0 left-0 h-full w-full">
      <div class="text-center max-w-lg mx-auto my-14 px-2">
        {nameParts.length > 1 ? (
          <div class="text-left text-gray-400">
            <a
              class="hover:underline hover:underline-offset-2"
              href={"/" + nameParts[0]}
            >
              {nameParts[0]}
            </a>
            {nameParts.slice(1).map((part, i) => (
              <>
                <span class="mx-1 text-gray-300">/</span>
                <a
                  class="hover:underline hover:underline-offset-2"
                  href={"/" + nameParts.slice(0, i + 2).join("/")}
                >
                  {part}
                </a>
              </>
            ))}
          </div>
        ) : (
          ""
        )}
        <img class="h-28 rounded-full block mx-auto" src={profile.img} />
        <div class="my-5">
          <div
            class={`text-3xl font-bold ${
              name.match(nameExp) ? "rainbow_text_animated" : ""
            }`}
          >
            {profile.name}
          </div>
          <div>{profile.description}</div>
        </div>
        {profile.links.map((link) =>
          link.img ? (
            <a
              target="_blank"
              href={link.url}
              class="my-4 flex w-full border-2 border-gray-800 px-6 hover:underline hover:underline-offset-2"
            >
              <img class="my-auto inline-block h-8" src={link.img} />
              <div class="flex-1 py-4">{link.label}</div>
            </a>
          ) : (
            <a
              href={link.url}
              class="my-4 block w-full border-2 border-gray-800 py-4 hover:underline hover:underline-offset-2"
            >
              {link.label}
            </a>
          )
        )}
      </div>
    </div>
  </body>
</html>

<style>
  .rainbow_text_animated {
    background: linear-gradient(
      to right,
      #6666ff,
      #0099ff,
      #00ff00,
      #ff3399,
      #6666ff
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
  }

  @keyframes rainbow_animation {
    0%,
    100% {
      background-position: 0 0;
    }

    50% {
      background-position: 100% 0;
    }
  }
</style>
